<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        @font-face{
            font-family: 'diotima';
            src: url('diotima.otf');
        }
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        html{
            font-size:11px;
        }
        body{
            font-family: diotima;
            font-size:1rem;
            line-height: 2rem;
        }
        .page{
            padding:0.5in 0;
            margin:5px auto;
            width:8.5in;
            height:11in;
            background:beige;
            border:1px solid black;
        }
        h1,h2,h3,h4,h5{
            font-size:1.2rem;
            font-weight:500;
        }
        h2{
            margin-top:1rem;
        }
        .item{
            display:flex;
            justify-content: space-between;
            width:6in;
            margin:0 auto;
        }
        .item-left{
            display:flex;
        }
        .item-right{
            display:flex;
            margin-left:10px;
        }
        .bin{
            width:0.5in;
            
        }
        .vintage-size,.price{
            width:0.5in;
        }
        .hashtag{
            color:#cccccc00;
        }
    </style>
</head>
<body>

    <div class="page">
        <div class="item">
            <span class="item-left">
                <span class="bin">
                    <span class="hashtag">#</span> 
                </span>
                <span>
                    <h1>BY THE GLASS SELECTION</h1>                        
                </span>
            </span>
            <span class="item-right">
                <span class="vintage-size">
                    
                </span>
                <span class="price">
                        
                </span>
            </span>
        </div>


        <% const sectionsBTG = new Set() %>
        <% for(let i=0;i<btg.length;i++){ %>
            <% if(btg[i].section == "SAKE") { %>            
                <% if (!sectionsBTG.has(btg[i].section)){ %>
                    <% sectionsBTG.add(btg[i].section) %>
                        <div class="item">
                            <span class="item-left">
                                <span class="bin">
                                    <span class="hashtag">#</span> 
                                </span>
                                <span>
                                    <h2><%= btg[i].section %></h2>                        
                                </span>
                            </span>
                            <span class="item-right">
                                <span class="vintage-size">
                                    
                                </span>
                                <span class="price">
                                        
                                </span>
                            </span>
                        </div>
                    <% } %>
                <div class="item">
                    <span class="item-left">
                        <span class="bin">
                            <span class="hashtag">#</span><%= btg[i].bin %> 
                        </span>
                        <span>
                            <%= btg[i].description %>    
                        </span>
                    </span>
                    <span class="item-right">
                        <span class="vintage-size">
                            <%= btg[i].vintageSize %>
                        </span>
                        <span class="price">
                            <%= btg[i].price %>    
                        </span>
                    </span>
                </div>
            <% } %>
        <% } %>

        


        <% for(let i=0;i<btg.length;i++){ %>
            <% if(btg[i].section == "CARAFE") { %>            
                <% if (!sectionsBTG.has(btg[i].section)){ %>
                    <% sectionsBTG.add(btg[i].section)%>
                        <div class="item">
                            <span class="item-left">
                                <span class="bin">
                                    <span class="hashtag">#</span> 
                                </span>
                                <span>
                                    <h2><%= btg[i].section %></h2>                        
                                </span>
                            </span>
                            <span class="item-right">
                                <span class="vintage-size">
                                    
                                </span>
                                <span class="price">
                                        
                                </span>
                            </span>
                        </div>
                    <% } %>
                <div class="item">
                    <span class="item-left">
                        <span class="bin">
                            <span class="hashtag">#</span><%= btg[i].bin %> 
                        </span>
                        <span>
                            <%= btg[i].description %>    
                        </span>
                    </span>
                    <span class="item-right">
                        <span class="vintage-size">
                            <%= btg[i].vintageSize %>
                        </span>
                        <span class="price">
                            <%= btg[i].price %>    
                        </span>
                    </span>
                </div>
            <% } %>
        <% } %>




        <% for(let i=0;i<btg.length;i++){ %>
            <% if(btg[i].section == "CHAMPAGNE") { %>            
                <% if (!sectionsBTG.has(btg[i].section)){ %>
                    <% sectionsBTG.add(btg[i].section)%>
                        <div class="item">
                            <span class="item-left">
                                <span class="bin">
                                    <span class="hashtag">#</span> 
                                </span>
                                <span>
                                    <h2><%= btg[i].section %></h2>                        
                                </span>
                            </span>
                            <span class="item-right">
                                <span class="vintage-size">
                                    
                                </span>
                                <span class="price">
                                        
                                </span>
                            </span>
                        </div>
                    <% } %>
                <div class="item">
                    <span class="item-left">
                        <span class="bin">
                            <span class="hashtag">#</span><%= btg[i].bin %> 
                        </span>
                        <span>
                            <%= btg[i].description %>    
                        </span>
                    </span>
                    <span class="item-right">
                        <span class="vintage-size">
                            <%= btg[i].vintageSize %>
                        </span>
                        <span class="price">
                            <%= btg[i].price %>    
                        </span>
                    </span>
                </div>
            <% } %>
        <% } %>




        <% for(let i=0;i<btg.length;i++){ %>
            <% if(btg[i].section == "WHITE WINE") { %>            
                <% if (!sectionsBTG.has(btg[i].section)){ %>
                    <% sectionsBTG.add(btg[i].section)%>
                        <div class="item">
                            <span class="item-left">
                                <span class="bin">
                                    <span class="hashtag">#</span> 
                                </span>
                                <span>
                                    <h2><%= btg[i].section %></h2>                        
                                </span>
                            </span>
                            <span class="item-right">
                                <span class="vintage-size">
                                    
                                </span>
                                <span class="price">
                                        
                                </span>
                            </span>
                        </div>
                    <% } %>
                <div class="item">
                    <span class="item-left">
                        <span class="bin">
                            <span class="hashtag">#</span><%= btg[i].bin %> 
                        </span>
                        <span>
                            <%= btg[i].description %>    
                        </span>
                    </span>
                    <span class="item-right">
                        <span class="vintage-size">
                            <%= btg[i].vintageSize %>
                        </span>
                        <span class="price">
                            <%= btg[i].price %>    
                        </span>
                    </span>
                </div>
            <% } %>
        <% } %>





        <% for(let i=0;i<btg.length;i++){ %>
            <% if(btg[i].section == "ROSÉ WINE") { %>            
                <% if (!sectionsBTG.has(btg[i].section)){ %>
                    <% sectionsBTG.add(btg[i].section)%>
                        <div class="item">
                            <span class="item-left">
                                <span class="bin">
                                    <span class="hashtag">#</span> 
                                </span>
                                <span>
                                    <h2><%= btg[i].section %></h2>                        
                                </span>
                            </span>
                            <span class="item-right">
                                <span class="vintage-size">
                                    
                                </span>
                                <span class="price">
                                        
                                </span>
                            </span>
                        </div>
                    <% } %>
                <div class="item">
                    <span class="item-left">
                        <span class="bin">
                            <span class="hashtag">#</span><%= btg[i].bin %> 
                        </span>
                        <span>
                            <%= btg[i].description %>    
                        </span>
                    </span>
                    <span class="item-right">
                        <span class="vintage-size">
                            <%= btg[i].vintageSize %>
                        </span>
                        <span class="price">
                            <%= btg[i].price %>    
                        </span>
                    </span>
                </div>
            <% } %>
        <% } %>








        <% for(let i=0;i<btg.length;i++){ %>
            <% if(btg[i].section == "RED WINE") { %>            
                <% if (!sectionsBTG.has(btg[i].section)){ %>
                    <% sectionsBTG.add(btg[i].section)%>
                        <div class="item">
                            <span class="item-left">
                                <span class="bin">
                                    <span class="hashtag">#</span> 
                                </span>
                                <span>
                                    <h2><%= btg[i].section %></h2>                        
                                </span>
                            </span>
                            <span class="item-right">
                                <span class="vintage-size">
                                    
                                </span>
                                <span class="price">
                                        
                                </span>
                            </span>
                        </div>
                    <% } %>
                <div class="item">
                    <span class="item-left">
                        <span class="bin">
                            <span class="hashtag">#</span><%= btg[i].bin %> 
                        </span>
                        <span>
                            <%= btg[i].description %>    
                        </span>
                    </span>
                    <span class="item-right">
                        <span class="vintage-size">
                            <%= btg[i].vintageSize %>
                        </span>
                        <span class="price">
                            <%= btg[i].price %>    
                        </span>
                    </span>
                </div>
            <% } %>
        <% } %>






        <% for(let i=0;i<btg.length;i++){ %>
            <% if(btg[i].section == "DESSERT & FORTIFIED") { %>            
                <% if (!sectionsBTG.has(btg[i].section)){ %>
                    <% sectionsBTG.add(btg[i].section)%>
                        <div class="item">
                            <span class="item-left">
                                <span class="bin">
                                    <span class="hashtag">#</span> 
                                </span>
                                <span>
                                    <h2><%= btg[i].section %></h2>                        
                                </span>
                            </span>
                            <span class="item-right">
                                <span class="vintage-size">
                                    
                                </span>
                                <span class="price">
                                        
                                </span>
                            </span>
                        </div>
                    <% } %>
                <div class="item">
                    <span class="item-left">
                        <span class="bin">
                            <span class="hashtag">#</span><%= btg[i].bin %> 
                        </span>
                        <span>
                            <%= btg[i].description %>    
                        </span>
                    </span>
                    <span class="item-right">
                        <span class="vintage-size">
                            <%= btg[i].vintageSize %>
                        </span>
                        <span class="price">
                            <%= btg[i].price %>    
                        </span>
                    </span>
                </div>
            <% } %>
        <% } %>



    </div>



















    <div class="page">

        <div class="item">
            <span class="item-left">
                <span class="bin">
                    <span class="hashtag">#</span> 
                </span>
                <span>
                    <h1>HALF BOTTLES</h1>                        
                </span>
            </span>
            <span class="item-right">
                <span class="vintage-size">
                    
                </span>
                <span class="price">
                        
                </span>
            </span>
        </div>


        <% const sectionsHalfBottles = new Set() %>

        <% for(let i=0;i<halfBottles.length;i++){ %>
            <% if(halfBottles[i].section == "CHAMPAGNE") { %>            
                <% if (!sectionsHalfBottles.has(halfBottles[i].section)){ %>
                    <% sectionsHalfBottles.add(halfBottles[i].section) %>
                        <div class="item">
                            <span class="item-left">
                                <span class="bin">
                                    <span class="hashtag">#</span> 
                                </span>
                                <span>
                                    <h2><%= halfBottles[i].section %></h2>                        
                                </span>
                            </span>
                            <span class="item-right">
                                <span class="vintage-size">
                                    
                                </span>
                                <span class="price">
                                        
                                </span>
                            </span>
                        </div>
                    <% } %>
                <div class="item">
                    <span class="item-left">
                        <span class="bin">
                            <span class="hashtag">#</span><%= halfBottles[i].bin %> 
                        </span>
                        <span>
                            <%= halfBottles[i].description %>    
                        </span>
                    </span>
                    <span class="item-right">
                        <span class="vintage-size">
                            <%= halfBottles[i].vintageSize %>
                        </span>
                        <span class="price">
                            <%= halfBottles[i].price %>    
                        </span>
                    </span>
                </div>
            <% } %>
        <% } %>
    
    
        <% for(let i=0;i<halfBottles.length;i++){ %>
            <% if(halfBottles[i].section == "WHITE WINE") { %>            
                <% if (!sectionsHalfBottles.has(halfBottles[i].section)){ %>
                    <% sectionsHalfBottles.add(halfBottles[i].section) %>
                        <div class="item">
                            <span class="item-left">
                                <span class="bin">
                                    <span class="hashtag">#</span> 
                                </span>
                                <span>
                                    <h2><%= halfBottles[i].section %></h2>                        
                                </span>
                            </span>
                            <span class="item-right">
                                <span class="vintage-size">
                                    
                                </span>
                                <span class="price">
                                        
                                </span>
                            </span>
                        </div>
                    <% } %>
                <div class="item">
                    <span class="item-left">
                        <span class="bin">
                            <span class="hashtag">#</span><%= halfBottles[i].bin %> 
                        </span>
                        <span>
                            <%= halfBottles[i].description %>    
                        </span>
                    </span>
                    <span class="item-right">
                        <span class="vintage-size">
                            <%= halfBottles[i].vintageSize %>
                        </span>
                        <span class="price">
                            <%= halfBottles[i].price %>    
                        </span>
                    </span>
                </div>
            <% } %>
        <% } %>



        <% for(let i=0;i<halfBottles.length;i++){ %>
            <% if(halfBottles[i].section == "RED WINE") { %>            
                <% if (!sectionsHalfBottles.has(halfBottles[i].section)){ %>
                    <% sectionsHalfBottles.add(halfBottles[i].section) %>
                        <div class="item">
                            <span class="item-left">
                                <span class="bin">
                                    <span class="hashtag">#</span> 
                                </span>
                                <span>
                                    <h2><%= halfBottles[i].section %></h2>                        
                                </span>
                            </span>
                            <span class="item-right">
                                <span class="vintage-size">
                                    
                                </span>
                                <span class="price">
                                        
                                </span>
                            </span>
                        </div>
                    <% } %>
                <div class="item">
                    <span class="item-left">
                        <span class="bin">
                            <span class="hashtag">#</span><%= halfBottles[i].bin %> 
                        </span>
                        <span>
                            <%= halfBottles[i].description %>    
                        </span>
                    </span>
                    <span class="item-right">
                        <span class="vintage-size">
                            <%= halfBottles[i].vintageSize %>
                        </span>
                        <span class="price">
                            <%= halfBottles[i].price %>    
                        </span>
                    </span>
                </div>
            <% } %>
        <% } %>




    </div>
    
    
    
    
    
    
    
    
    
    
    </div>






</body>
</html>


